.article-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.article-card__title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  /* Truncate long headlines with ellipsis */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.article-card__description {
  font-size: 3rem;
  line-height: 1.5;
  margin: 0;
  /* Truncate long descriptions with ellipsis */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
