.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 3rem;
}

.empty-state__message {
  font-size: 4rem;
  text-align: center;
  max-width: 80rem;
  line-height: 1.5;
}
