.news-feeds-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  color: black;
  /* Safe zone padding - minimum 3rem from all edges per cursor rules */
  padding: 3rem;
}

.news-feeds-container--loading {
  opacity: 0.7;
}
